<h1>New Post</h1>

<%= form_with :model => @post do |form| %>
  <%= form.hidden_field "place_id" %>
  <p>
    <%= form.label "title" %>
    <%= form.text_field "title" %>
  </p>
  <p>
    <%= form.label "description" %>
    <%= form.text_field "description" %>
  </p>
  <p>
    <%= form.label "posted_on" %>
    <%= form.date_field "posted_on" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<!-- app/views/posts/index.html.erb -->
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-md-4">
      <!-- Post content here -->
    </div>
  <% end %>
</div>

<div class="mb-3">
  <!-- Content here -->
</div>

