<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <div>
      <%= flash["notice"] %>
    </div>
    <div>
      <a href="/">Home</a>
      <a href="/logout">Logout</a>
      <a href="/login">Login</a>
      <a href="/users/new">Signup</a>
    </div>

    <%= yield %>
  </body>
</html>


<% if @current_user %>
  <%= link_to 'Logout', logout_path %>
<% else %>
  <%= link_to 'Login', login_path %> |
  <%= link_to 'Signup', new_user_path %>
<% end %>

<!-- app/views/layouts/application.html.erb -->
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<!-- app/views/layouts/application.html.erb -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Home", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <% if @current_user %>
        <li class="nav-item">
          <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Signup", signup_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<!-- app/views/layouts/application.html.erb -->
<div class="container">
  <%= yield %>
</div>

<%= form.submit "Log In", class: "btn btn-primary" %>

